<div class="homepage">
      <!-- Carousel
      ================================================== -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-btn-wrap">
          <a class="btn btn-lg btn-primary" href="/spaces/new" role="button">I have a space</a>
          <a class="btn btn-lg btn-primary" href="/activities/new" role="button">I need a space</a>
        </div>
        <!-- <div class="carousel-caption-wrap">
          <p>[ freespace ] ATX<br>Temporary spaces for lasting impressions.</p>
        </div> -->
        <div class="carousel-inner">
          <div class="item active">
            <img data-src="holder.js/1400x600/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="assets/slider/slide1.jpg" height="704" width="1400">
            <div class="container">
              <div class="carousel-caption">

              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/1400x600/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="assets/slider/slide2.jpg" height="704" width="1400">
            <div class="container">
              <div class="carousel-caption">

              </div>
            </div>
          </div>
          <div class="item">
            <img data-src="holder.js/1400x600/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="assets/slider/slide3.jpg" height="704" width="1400">
            <div class="container">
              <div class="carousel-caption">

              </div>
            </div>
          </div><!--end slide 3-->

        </div>
      </div><!-- /.carousel -->

      <div class="container about">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h3>What Is [ freespace ]?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>The [ freespace ] movement is an experiment in what is possible when a community shares the gift of physical space.</p>
            <p>It’s a gathering place for Austinites to come together, to create, teach, learn, and share the things that they are truly passionate about; to strengthen connections between individuals as well as communities through art, events, and long-term projects.</p>
          </div>
          <div class="col-md-6">
            <p>A [ freespace ] breathes new life into an unused or underutilized space. It’s a space that’s free for the community to program as they wish, to what end is kind of the point of the experiment.</p>
            <p>It’s a way to activate those dormant spaces with community-built programming and collaboration. It’s a blank canvas gifted to the community to create civic innovation.</p>
            <p>A [ freespace ] is where people can come together to create change in their lives, their communities, and their world.</p>
          </div>
        </div>
      </div> <!-- /container -->
      <hr>

      <div class="promo-banner-wrap">
        <div class="container promo-banner">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <img src="assets/homepage/promo1.jpg" height="235" width="353" alt="">
              <h3>For Community</h3>
              <p>A [ freespace ] is free, thus inclusive to people from all different backgrounds, cultures, and lifestyles. A [ freespace ] provides people with the space and permission to pursue their passions and feed off of similar energy.</p>
            </div>
            <div class="col-md-4">
              <img src="assets/homepage/promo2.jpg" height="235" width="353" alt="">
              <h3>For Property Owners</h3>
              <p>A [ freespace ] adds activity to any space, increasing foot traffic and highlighting potential uses for long-term tenants.</p>
           </div>
            <div class="col-md-4">
              <img src="assets/homepage/promo3.jpg" height="235" width="353" alt="">
              <h3>For City Government</h3>
              <p>A [ freespace ] provides a new way for citizens to shape their cities.</p>
            </div>
          </div>
        </div> <!-- /container -->
      </div>

      <div class="quote-wrap">
        <div class="container quote">
          <!-- Example row of columns -->
          <div class="row">
            <div class="bg-container"><img src="assets/homepage/quote-bg.jpg" alt=""></div>
            <div class="col-md-12">
              <h4>“Never doubt that a small group of thoughtful,committed citizens can change the world; indeed, it’s the only thing that ever has.” — Margaret Mead</h4>
            </div>
          </div>
        </div> <!-- /container -->
      </div>

      <hr>

      <div class="container projectcontact">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <p>Have an idea that could use some space, a team, and exposure to the local community? Get started by filling this out.</p>
          </div>
          <div class="col-md-6">
            <div class="contact-wrap">
              <form name="projectcontact">
                <input type="text" class="form-control" name="name" value="" placeholder="Name" />
                <input type="text" class="form-control" name="projectname" value="" placeholder="Project Name" />
                <input type="text" class="form-control" name="emailaddress" value="" placeholder="Email Address" />
                <textarea name="description" class="form-control" placeholder="Description" cols="40" rows="5" ... ></textarea>
                <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block" value"Submit"/>

              </form>
            </div> <!-- .elist -->
          </div>
        </div>
      </div> <!-- /container -->
      <hr>
