<div class="container content-wrap">
  <div class="row">
    <div class="col-md-12">

      <h1 class="text-center">Thank you for submitting your event!</h1>

      <h2 class="text-center">You will be contacted shortly by an event coordinator.</h2>

      <h3 class="text-center"><a href="/">Return Home</a></h3>

    </div>
  </div>
</div>
